.home{
    background-color: rgb(3, 3, 96);
}
.banner{
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
}
.description{
    color: white;
}
.description button{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px 20px;
}
.movie_list{
    padding: 30px 10px;
}
.movie_list h1{
    color: white;
}
.movie_list img{
    margin: 0px 3px;
    height: 350px;
    width: 250px;
    border-radius: 8px;
    transition: 0.5s;
}
.movie_list img:hover{
    transform: translateY(-20px);
}